.styles {
  border: none;
  color: white;
  margin: 0px;
  border-radius: 4px;
  font-family: Arial;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  font-weight: bold;
}

.styles:active {
  box-shadow: none;
  border: none;
  outline: none;
  font-family: Arial;
  font-weight: bold;
}

.styles:focus {
  outline: none;
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
  font-family: Arial;
}