.styles div {
  font-weight: bold;
  max-width: 80px;
}

.styles button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  padding-right: 5px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
  width: auto;
}

.styles button img {
  width: 18px;
  margin-right: 5px;
}

.styles button div {
  max-width: auto;
  margin-right: 5px;
  text-overflow: -;
  white-space: nowrap;
  overflow: hidden;
}

.styles button:hover {
  background: none rgba(255, 255, 255, 0.3);
}

.styles button:active {
  box-shadow: none;
  border: none;
  outline: none;
}

.styles button:focus {
  box-shadow: none;
  border: none;
  outline: none;
}